.LogoutButton {
  display: flex !important;
  background: none !important;
  border: none !important; 
  margin-top: 20px !important;
  width: 100% !important;
  text-align: right !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: rgb(219, 5, 5) !important;
  cursor: pointer !important;
}

.LogoutButton svg {
  font-size: 1.2rem !important;
  margin-left: 5px;
  color: rgb(219, 5, 5) !important;
}
